* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(243, 243, 243);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: 120px;
}

.menu__buttons {
  display: flex;
}

.menu button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu__add {
  margin-right: 20px;
}

.icon {
  margin-right: 5px;
}

.note-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.note-list__note {
  margin: 40px 20px;
  padding: 20px;
  width: 240px;
  background-color: rgb(255, 243, 0);
  border: 1px solid black;
}

.note-list__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
